
.aboutcsimages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: blue;
    margin-bottom: 10px;
    column-gap: 10px;
}

.aboutcsimagesdetails{
    width: 350px;
   height: 300px;
}