

.aboutgrid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.aboutpic{
    height: 380px;
}

.aboutgriddescription{
  margin-top: 80px;
  background-color: #FFF5EB;
}

.welcomeword{
    text-align: center;
    margin-top: 300px;
}

.welcomewordsub{
    text-align: center;

}