
.main{
    background-color: #F5F2F0;
}
.courseadvisor{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    column-gap: 10px;
}

.courseadvisorpic{
    height: 380px;
    width: 350px;
    
    border-radius: 15px;
}

.courseadvisorpicstyle{
    margin-top: 50px;
    height: 250px;
    border-radius: 15px;
}

.adviseinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.courseadvisorheading{
    text-align: center;
}