

.courseadvisor{
    display: grid;
   
    grid-template-columns: 1fr 1fr 1fr;
    box-sizing: border-box;
    column-gap: 10px;
}

.courseadvisorpic{
    height: 450px;
    
    border-radius: 15px;
}

.courseadvisorpicstyle{
    margin-top: 50px;
    height: 250px;
    border-radius: 15px;
}

.adviseinfo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}