
.upcomingevents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.upcomingeventspic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.upcomingeventspicdetails{
    
   width: 350px;
}