
.upcomingevents{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: 
    #F5F2F0;
    text-align: center;
}

.upcomingeventspic{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.upcomingeventspicdetails{
    
   width: 350px;
}

.departmentaleventsheading{
    text-align: center;
}

