

.mphilandmscdescription{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.mphilandmscprogramcoursedescription{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.mphilandmscdescriptionpic{
   width : 550px;
}